<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html>
    <head></head>
    <title>Info Post</title>
	<!--    CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <body>
        <header>
	        <nav class="navbar navbar-light bg-light">
		        <div class="container-fluid">
			        <span class="navbar-brand mb-0 h1">Titulo Teste</span>
		        </div>
	        </nav>
        </header>
        <section>
	        <div class ="container" style="width: 60%; padding-bottom: 30px;">
				
		        <!-- Breadcrumb -->
		        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			        <ol class="breadcrumb">
				        <li class="breadcrumb-item"><a href="#">Home</a></li>
				        <li class="breadcrumb-item active" aria-current="page">Library</li>
			        </ol>
		        </nav>
		
		        <!-- Card -->
				<form th:action="@{/edit}" th:object="${infoPost}" method="post">
					<div class="card border-success mb-3" th:each="infoPost : ${infoPostList}">
						<div class="card-header"><span th:text=${infoPost.author}></span></div>
						<div class="card-body text-success">
							<h5 class="card-title"><span th:text=${infoPost.title}></span></h5>
							<p class="card-text"><span th:text=${infoPost.text}></span></p>
						</div>
						<div>
							<form class="button" th:action="@{/index}" method="GET">
								<input type="submit" value="Sair"/>
							</form>
						</div>
						<div>
							<button type="submit" id="submit" class="btn btn-outline-primary">
								Edit
							</button>
						</div>
					</div>
				</form>
	        </div>
        </section>
    </body>
</html>